@use 'src/styles' as *;

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem 0;
    background-color: $color-text-dark;
}

.logo {
    display: flex;
    gap: .5rem;
    align-items: center;
}

.logo__img {
    width: 3rem;
}

.logo__text {
    font-family: 'Cinzel', serif;
    font-size: map-get($font-size, 'logo');
    font-weight: map-get($font-weight, 'logo');
    text-transform: uppercase;
    color: white;
}