@use 'src/styles' as *;

.hero__heading {
    height: calc(100dvh - 10rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.header_primary {
    color: white;
    font-size: map-get($font-size, 'title', 'desktop');
}

.hero__desc {
    color: white;
    font-size: 2.5rem;
    margin-bottom: 4rem;
}