@use 'src/styles' as *;

.header {
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
}

.logo-wrapper {
    display: flex;
    gap: .5rem;
    align-items: center;
}

.logo-img {
    width: 2rem;
}

.logo-text {
    font-family: 'Cinzel', serif;
    font-size: map-get($font-size, 'logo');
    font-weight: map-get($font-weight, 'logo');
    text-transform: uppercase;
    color: white;
}