<div class="section">
    <p class="text text_dark" *ngIf="message">{{message}}</p>
    <form class="form" (ngSubmit)="login()">
        <p class="form__heading">Login</p>
        <div class="form__input">
            <label class="text text_dark" for="username">Username</label>
            <input id="username" class="text text_dark" type="text" placeholder="Username" required name="username" #usernameField="ngModel" [(ngModel)]="user.username">
            <p *ngIf="usernameField.errors?.['required']">This field is required.</p>
        </div>
        <div class="form__input">
            <label class="text text_dark" for="password">Password</label>
            <input id="password" class="text text_dark" type="password" placeholder="Password" required name="password" #passwordField="ngModel" [(ngModel)]="user.password">
            <p *ngIf="passwordField.errors?.['required']">This field is required.</p>
        </div>
        <div class="form__buttons">
            <button class="btn btn_secondary" type="submit">Login</button>
        </div>
        <p class="text text_dark">Don't have an account? <a class="text text_attention" routerLink="/register">Register here</a></p>
    </form>
</div>
