.bg {
    background-image: url("../assets/hero.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.bg__shadow {
    height: 100%;
    background: linear-gradient(180deg, rgba(51, 51, 51, 0.7) 50%, rgba(51, 51, 51, 0.4) 100%);
}