<section id="horses" class="main-container section">
    <h3 class="heading_secondary">Meet Our Horses</h3>
    <p class="text">Welcome to our horse ranch, where majestic beauty meets unparalleled grace. Allow us to
        introduce you to the incredible
        horses that call this place home. Each of these magnificent creatures possesses its own unique personality and
        charm,
        ready to forge an everlasting connection with anyone who crosses their path. Here are a few of the remarkable
        horses
        that make our ranch come alive.</p>
        
    <app-horse-list></app-horse-list>
    <button class="btn btn_tertiary" (click)="onShowForm()">Add Horse</button>
    <app-add-horse *ngIf="toggleForm" (hideForm)="onHideForm($event)"></app-add-horse>
    <p *ngIf="messageAddHorse" class="text text_dark">{{messageAddHorse}}</p>
</section>
