<div (mouseenter)="toggleHover()" (mouseleave)="toggleHover()" class="card">
    <img *ngIf="hover" class="card__img" [src]="horse.imageUrl" alt="">
    <h4 *ngIf="!hover" class="card__header">{{horse.shortName}}</h4>
    <p *ngIf="!hover" class="card__info card__info_important">{{horse.fullName}}</p>
    <p *ngIf="!hover" class="card__info">{{horse.dateOfBirth | date: 'mediumDate'}}</p>
    <p *ngIf="!hover" class="card__info">{{horse.breed}}, {{horse.gender === 'male'? 'Male' : 'Female'}}</p>
</div>