/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700&display=swap');

$font-weight: (
    "logo": 700,
    "title": 700,
    "subtitle": 700,
    "text": 300,
    "menu": 700,
    "button": 700,
    "footer": 300
);

$font-size: (
    'logo': 2rem,
    'title': (
        "desktop": 5rem,
        "tablet": 4rem,
        "mobile": 3rem
    ),
    'subtitle': (
        "desktop": 1.6rem,
        "mobile": 1.4rem
    ),
    'text': (
        "desktop": 1.8rem,
        "mobile": 1.6rem
    ),
    'menu': (
        "desktop": 1.4rem,
        "tablet": 2rem,
        "mobile": 1.8rem
    ),
    'button': (
        "desktop": 1.4rem,
        "mobile": 1.3rem
    ),
    'footer': 1.2rem
);

$line-height: (
    'title': (
        "desktop": 5.6rem,
        "tablet": 4.6rem,
        "mobile": 3.2rem,
    ),
    'subtitle': (
        "desktop": 2.4rem,
        "mobile": 2.1rem
    ),
    'text': (
        "desktop": 2.8rem,
        "mobile": 2.6rem,
    ),
    'menu': (
        "desktop": 2rem,
        "tablet": 2.5rem,
        "mobile": 2.2rem
    ),
    'button': (
        "desktop": 2.1rem,
        "mobile": 2rem
    )
);

$letter-spacing: (
    "text": .04rem,
    "button": .02rem
);

$color-primary: #40E0D0;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-size: 62.5%;
    font-family: 'Montserrat', sans-serif;
}