/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&display=swap');

$font-weight: (
    "logo": 600,
    "title": 600,
    "subtitle": 600,
    "text": 300,
    "menu": 600,
    "button": 600,
    "footer": 300
);

$font-size: (
    'logo': 3rem,
    'title': (
        "desktop": 7rem,
        "tablet": 4rem,
        "mobile": 3rem
    ),
    'subtitle': (
        "desktop": 4rem,
        "mobile": 1.4rem
    ),
    'text': (
        "desktop": 1.8rem,
        "mobile": 1.6rem
    ),
    'menu': (
        "desktop": 1.6rem,
        "tablet": 2rem,
        "mobile": 1.8rem
    ),
    'button': (
        "desktop": 1.4rem,
        "mobile": 1.3rem
    ),
    'footer': 1.2rem
);

$line-height: (
    'title': (
        "desktop": 5.6rem,
        "tablet": 4.6rem,
        "mobile": 3.2rem,
    ),
    'subtitle': (
        "desktop": 2.4rem,
        "mobile": 2.1rem
    ),
    'text': (
        "desktop": 2.8rem,
        "mobile": 2.6rem,
    ),
    'menu': (
        "desktop": 2rem,
        "tablet": 2.5rem,
        "mobile": 2.2rem
    ),
    'button': (
        "desktop": 2.1rem,
        "mobile": 2rem
    )
);

$letter-spacing: (
    "text": .04rem,
    "button": .02rem
);

$color-primary: #CC9933;
$color-secondary: #ffd700;
$color-text-dark: #333;
$color-text-light: #fff;

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 62.5%;
    letter-spacing: map-get($letter-spacing, 'text');
    font-family: 'Montserrat', sans-serif;
    color: white;
    text-decoration: none;
}

img,
picture,
svg,
video {
    display: block;
}

body {
    overflow-x: hidden;
    min-height: 100vh;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

p {
    margin-block: 0;
}

.main-container {
    margin: 0 auto;
    width: 80%;
}

.btn {
    font-weight: map-get($font-weight, 'button');
    font-size: map-get($font-size, 'button', 'desktop');
    line-height: map-get($line-height, 'button', 'desktop');
    letter-spacing: map-get($letter-spacing, 'button');
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.2rem 2rem;
    border-radius: .5rem;
    display: block;
    width: fit-content;
}

.btn_primary {
    color: $color-primary;
    background-color: transparent;
    border: .3rem solid $color-primary;
    
    &:hover {
        color: white;
        background-color: $color-primary;
    }
}

.card {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: #CC9933;
    width: 25rem;
    height: 20rem;
    border-radius: .5rem;
    padding: 3rem 2rem;

    &:hover {
        border: .5rem solid $color-primary;
        padding: 0;
    }
}


.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin-top: 10rem;
}

.card-list {
    display: flex;
    gap: 3rem;
}

.card__img {
    border-radius: .5rem;
    object-fit: cover;
    height: 100%;
}

.card__header {
    font-weight: map-get($font-weight, 'subtitle');
    font-size: 2.7rem;
    color: $color-text-light;
}

.card__info {
    font-weight: map-get($font-weight, 'text');
    font-size: map-get($font-size, 'text', 'desktop');
    color: $color-text-light;
}

.card__info_important {
    font-weight: map-get($font-weight, 'subtitle');
    padding-bottom: 1rem;
    border-bottom: .1rem solid $color-text-light;
}

.heading_secondary {
    font-weight: map-get($font-weight, 'subtitle');
    font-size: map-get($font-size, 'subtitle', 'desktop');
    color: $color-text-dark;
}

.text {
    font-weight: map-get($font-weight, 'text');
    font-size: map-get($font-size, 'text', 'desktop');
    text-align: justify;
}

.text_dark {
    color: $color-text-dark;
}
