<p class="text text_dark" *ngIf="message">{{message}}</p>
<form class="form" (ngSubmit)="register()">
    <p class="form__heading">Registration</p>
    <div class="form__input">
        <input class="text text_dark" type="text" placeholder="Username" required name="username" #usernameField="ngModel" [(ngModel)]="user.username">
        <p *ngIf="usernameField.errors?.['required']">This field is required.</p>
    </div>
    <div class="form__input">
        <input class="text text_dark" type="password" placeholder="Password" required name="password" #passwordField="ngModel" [(ngModel)]="user.password">
        <p *ngIf="passwordField.errors?.['required']">This field is required.</p>
    </div>
    <button class="btn btn_secondary" type="submit">Register</button>
</form>